/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common styles */
body{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Header styles start */
header{
    color: #3A3A3A;
}

.sandwich-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-items > ul{
    display: flex;
    list-style: none;
}
.menu-items > ul> li{
    margin-left: 34px;
}
.menu-items >ul  >li > a{
    text-decoration: none;
    color: #3A3A3A;
}
/* header styles end */


